body{
    background:#66e0ff;
    font-family: 'Permanent Marker', cursive;
   
}

.content{
    margin-top:100px; 
    margin-bottom:100px;
}

#mainNavbar{
    font-size: 2rem;
    font-weight: 100;

}

#mainNavbar .nav-link{
    color: white;
}

#mainNavbar .nav-link:hover {
    color: hsl(340, 100%, 70%);
}



#mainNavbar .navbar-brand{
    color: hsl(340, 100%, 70%);
    font-size:2rem;
   
}

#headingGroup span{
    color: hsl(340, 100%, 70%);
}

#headingGroup h1{
    font-weight: 100;
    font-size: 4rem;
    
}

.navbar.scrolled{
    background: hsl(225, 100%, 60%);
    transition: background 500ms;
}

.intro{
    background: white;
}

.secOne{
    margin-top:7rem;
}


@media (max-width: 1200px){
    #headingGroup h1{
        font-weight: 100;
        font-size: 3rem;
        
    }

}


